.rounded {
	width: "274px";
	height: "225px";
	transition: transform .2s;
}

.rounded:hover{
	transform: scale(1.5);
}

.browse-h2{
	text-align: center;
	margin: 10px 10px;
	text-decoration: underline;
	font-weight: 400;
}

.cl-h2{
	font-weight: 200;
}
