
.card{
	background: #ebeceb;
	width: max-content;
	margin: 20px auto;
}

.card-deck img{
	width: 171px;
	height: 255px;
	cursor: pointer;
}

.img{
	margin-top: 10px;
}
.card-h2 h2{
	margin: 10px 10px;
	text-align: center;
	text-decoration: underline;
	font-weight: 400;
}



