.footer{
	background:#a6ba71;
	display: flex;
	align-items: center;
}

button {
	background: #FFFFFF;
border: 2px solid #000000;
border-radius: 30px;
}

.bi {
	background: #FFFFFF;
	border: 1px solid #000000;
border-radius: 20px;
}